/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter', Arial, sans-serif;
  --font-accent: 'PressStart2P', cursive;
  --font-main-weight: 400;
  --font-accent-weight: 400;
  --font-title-weight: 715;
  --font-text-weight: 410;
  --main-bg-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
    --content-width: clamp(375px, 100vw, 700px);
    --accent-color: black;
    --animation-fill-color: red;
    --contour-color: black;

    --heart-contour-transition: fill 0.1s linear 0s;
    --heart-core-transition: fill 0.3s linear 0.03s;
    --heart-body-transition: fill 0.3s linear 0s;
}

